{% extends 'main.html' %}
{% load static %}
{% block content %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col mt-5">
                    <h1><img src="{% static 'img/Logo/ePicaLogo.png' %}" style="width: 100px;">&nbsp;Password Reset</h1>
                </div>
            </div>
            <p class="mt-5">Dear ePica User,</p>
            <p class="mt-5">To reset your password for your account ({{ user.get_username }}) in ePica system, please
                click the following link:<br></p>
            <p class="mt-5">{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}</p>
            <p class="mt-5">If you cannot click on that link, please just copy paste above URL and place at your url
                browser.<br></p>
            <p class="mt-5">Thank you very much for your kind attention and have a nice day.</p>
            <p class="mt-5">Sincerely,</p>
            <p class="mt-5">ePica System Administrator,</p>
        </div>
    </div>
{% endblock %}