{% extends 'main.html' %}
{% load static %}
{% block title %}Register User{% endblock %}
{% block content %}
    <div>
        <div class="container" style="width: 701px;">
            <div class="row">
                <div class="col">
                    <h1 class="fs-4 mt-3">List of Departments</h1>
                    <div class="table-responsive text-start">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>Cell 1</td>
                                <td>Cell 2</td>
                            </tr>
                            <tr>
                                <td>Cell 3</td>
                                <td>Cell 4</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}