<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>main</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Open%20Sans.css">
    <link rel="stylesheet" href="/assets/css/Roboto.css">
    <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="/assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="/assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="/assets/css/Footer-Dark.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Basic.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body style="background: var(--bs-white);">
    <nav class="navbar navbar-dark navbar-expand-md textlight text-light d-flex" style="background: var(--bs-success);border-width: 1px;">
        <div class="container-fluid"><a class="navbar-brand" href="#">
                <picture><img src="/assets/img/Logo/ePicaLogo50.png"></picture>
            </a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav fs-6 text-white" style="color: rgb(255, 255, 255);">
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person-circle">
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
                            </svg>&nbsp;Profile&nbsp;</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">Change Password</a><a class="dropdown-item" href="#">Edit Profile</a></div>
                    </li>
                </ul><span class="fs-6 fw-bold text-white ms-auto navbar-text">Minggu, 10 April 2022, Setiawan Karnata&nbsp;&nbsp;<picture><img class="border rounded-circle" src="/assets/img/setiawan2.jpg" style="width: 50px;height: 50px;"></picture></span>
            </div>
        </div>
    </nav>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>