{% extends 'main.html' %}
{% load static %}
{% block title %}Dashboard PICA{% endblock %}
{% block content %}
<div class="mt-3">
    <div class="container shadow" style="background: var(--bs-cyan);">
        <div class="row" style="background: #ffffff;">
            <div class="col-sm-6 align-self-center">
                <h4 style="text-align: left;">Dashboard PICA</h4>
            </div>
            <div class="col-sm-6" style="text-align: right;"><img src="{{ company.logo.url }}" width="150px"></div>
        </div>
    </div>
</div><!-- Start: Outstanding PICA -->
<section>
    <div>
        <h3 class="text-center mt-5 mb-5">Outstanding PICA</h3>
    </div>
    <div>
        <div class="container justify-content-lg-center">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="fs-6">Date</th>
                            <th class="fs-6">Department</th>
                            <th class="fs-6">Issues</th>
                            <th class="fs-6">PIC</th>
                            <th class="fs-6">Due Date</th>
                            <th class="fs-6 fw-bold text-center text-dark" colspan="2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if topics %}
                        {% for topic in topics %}
                        <tr>
                            <td class="fs-6">{{ topic.issue_date|date:"l, d M Y" }}</td>
                            <td class="fs-6">{{ topic.topic2department.name }}</td>
                            <td class="fs-6">{{ topic.topic_name }}</td>
                            <td class="fs-6">
                                {% if topic.topic2user %}
                                {% for pic in topic.topic2user.all %}
                                {{ pic.first_name }} {{ pic.last_name }},
                                {% endfor %}
                                {% endif %}
                            </td>
                            <td class="fs-6">{{ topic.due_date|date:"l, d M Y" }}</td>
                            <td class="fs-6"><a class="btn btn-primary border rounded-pill" role="button"
                                    href="{% url 'pica:dashboard_pica_detail' topic.pk company.short_code from_to %}">Details</a>
                            </td>
                            <td class="fs-6"><a class="btn btn-success border rounded-pill" role="button"
                                    href="{% url 'pica:pica_close' topic.pk company.short_code %}">Close</a>
                            </td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center"><a class="btn btn-danger btn-lg border rounded-pill" role="button"
                href="{% url 'home' %}">Back
                to previous</a></div>
    </div>
</section><!-- End: Outstanding PICA -->
{% endblock %}